<%
// alias текущего файлы
locals._activeFile = _getActiveFile(filename);
%>
<% include ../_config %>
<% layout('../layouts/main') %>
<div class="pageSection">
<div class="pageSize">
	<div class="grid grid--nowrap">
		<div class="grid__cell">
			<%- partial('../widgets/pageAside', {Menu: Menus.equipment }) %>
		</div>
		<div class="grid__cell grid__cell--grow">
			<section class=" pageCenter">
				<%- Build.breadcrumbs() %>
				<div class="sectionTitle sectionTitle--inner">Модели приборов</div>
				<div class="grid grid--3 grid--space">

					<% Menus.equipment.forEach(function(el, i){ %>
					<div class="grid__cell">
						<a href="<%= el.url?`${el.url}.html`:'#'%>" class="categoryLink" style="background-image: url('images/equipment<%= ++i %>.jpg');">
							<div class="categoryLink__content categoryLink__content--bigger">
								<div class="categoryLink__title"><%= el.text %></div>
							</div>
						</a>
					</div>
					<% }) %>
				</div>

			</section>
		</div>
	</div>

</div>
</div>
<%- partial('../widgets/devices', {'color_inverse': false}) %>
