<%
// alias текущего файлы
locals._activeFile = _getActiveFile(filename);
%>
<% include ../_config %>
<% layout('../layouts/main') %>

<section class="pageSection">
	<div class="pageSize" style="position: relative;">
		<div class="sectionTitle">Основные возможности оборудования</div>
		<div class="grid grid--space">
			<div class="grid__cell grid__cell--4">
				<p><b>Диагностика у пациента:</b></p>
				<ul class="customList">
					<li>Заболеваний и возможных осложнений</li>
					<li>Возбудителей заболеваний</li>
					<li>Слабых систем организма</li>
					<li>Всех нарушений в органах и их причин</li>
					<li>Аллергенов, токсинов, вредных продуктов</li>
					<li>Генетической предрасположенности</li>
					<li>Прогноза развития заболеваний в будущем</li>
				</ul>
			</div>
			<div class="grid__cell grid__cell--4">
				<p><b>Лечебные возможности:</b></p>
				<ul class="customList">
					<li>Индивидуальная эффективная cхема лечения препаратами</li>
					<li>Моментальная энергетическая коррекция любой болезни</li>
					<li>Подбор правильного питания</li>
					<li>Общее восстановление организма</li>
				</ul>
			</div>

		</div>
		<img class="compatibilityImage" src="css/pic/complex.png" alt="">
	</div>
</section>
<section class="pageSection _p-none pageSection--partialBg">
	<div class="pageSize">
		<div class="sectionTitle sectionTitle--small _color-white">
			Смотрите видео о Сенситив Имаго
		</div>
		<div class="grid grid--3 grid--space">
			<% var aboutVideos = ['Im4qbR70hVY', 'Im4qbR70hVY', 'Im4qbR70hVY'] %>
			<% for (i in aboutVideos) { %>
			<div class="grid__cell">
				<a href="https://www.youtube.com/watch?v=<%= aboutVideos[i] %>" class="videoLink"
				   style='background-image: url("//img.youtube.com/vi/<%= aboutVideos[i] %>/sddefault.jpg");'></a>
			</div>
			<% } %>
		</div>
	</div>

</section>
<section class="pageSection">
	<div class="pageSize">
		<div class="sectionTitle">Наши приемущества</div>
		<div class="grid grid--4">
			<%
			var advantages = [
				{
					icon: 'mail',
					title: 'Точность',
					text: 'Комплексы Сенситив Имаго имеют подтвержденную точность диагностики до 96 %'
				},
				{icon: 'mail', title: 'Эффективность', text: 'Лечение большинства заболеваний человека '},
				{icon: 'mail', title: 'Гарантия', text: 'На оборудование мы даем до 2 лет гарантии'},
				{
					icon: 'mail',
					title: 'Удобство',
					text: 'Проведение онлайн презентации возможностей оборудования, а также качественное обучение онлайн по удобному для Вас графику'
				},
				{icon: 'mail', title: 'Доставка', text: 'В первую неделю с момента оплаты'},
				{
					icon: 'mail',
					title: 'Сертификаты',
					text: 'Оборудование сертифицировано в Европейском Союзе и многих странах мира '
				},
				{icon: 'mail', title: 'Надежность', text: 'Наши клиенты нам доверяют'},
				{icon: 'mail', title: 'Экономия', text: 'Возможность покупки в рассрочку'}
			];
			%>

			<% for (i in advantages) { %>
			<div class="grid__cell advantage">
				<div class="advantage__icon">
					<img src="css/pic/advantage-icon<%= parseInt(i) + 1 %>.svg" alt="">
				</div>
				<div class="advantage__title"><%= advantages[i].title %></div>
				<div class="advantage__text"><%= advantages[i].text %></div>
				<a href='#' class="button button--inverse">Подробнее</a>
			</div>
			<% } %>
		</div>
	</div>

</section>
<section class="pageSection">
	<div class="pageSize">
		<div class="sectionTitle">Наша команда</div>
		<div class="grid grid--5 personal">
			<% var personal = [
				{name: 'Смирнова Татьяна', position: 'Врач'},
				{name: 'Павленко Инна', position: 'Администратор'},
				{name: 'Марченко Галина', position: 'Директор'},
				{name: 'Шевченко Вита', position: 'Менеджер-переводчик'},
				{name: 'Недилько Александр', position: 'WEB-мастер'},
			] %>
			<% for(i in personal){ %>
			<div class="grid__cell person">
				<div class="person__image"
					 style="background-image: url('images/personal<%= parseInt(i) + 1 %>.jpg');"></div>
				<div class="person__name"><%= personal[i].name %></div>
				<div class="person__position"><%= personal[i].position %></div>
			</div>
			<% } %>
		</div>
		<div class="pageSection__footer">
			<a href="#" class="button button--primary button--in-sectionFooter">СМОТРЕТЬ ВСЕХ</a>
		</div>
	</div>
</section>
<section class="pageSection pageSection--bg-gray">
	<div class="pageSize">
		<div class="sectionTitle">Отзывы наших пользователей</div>
		<div class="grid grid--3 grid--space">
			<% var reviewsVideos = ['Im4qbR70hVY', 'Im4qbR70hVY', 'Im4qbR70hVY'] %>
			<% for (i in reviewsVideos) { %>
			<div class="grid__cell">
				<a href="https://www.youtube.com/watch?v=<%= reviewsVideos[i] %>"
				   class="videoLink"
				   style='background-image: url("//img.youtube.com/vi/<%= reviewsVideos[i] %>/sddefault.jpg");'></a>
			</div>
			<% } %>
		</div>
		<div class="pageSection__footer">
			<a href="#" class="button button--primary button--in-sectionFooter">СМОТРЕТЬ БОЛЬШЕ</a>
		</div>
	</div>
</section>
<section class="pageSection">
	<div class="pageSize">
		<div class="sectionTitle">Отзывы наших пациентов</div>
		<% var reviewBlocks = [
			{name: 'Евгений Николаевич', subtitle: 'пациент, 57 лет'},
			{name: 'Анна Сергеевна', subtitle: 'пациент, 32 года'},
			{name: 'Марина Александровна', subtitle: 'пациент, 20 лет'}
		] %>
		<div class="grid grid--3 textReviews">
			<% for (i in reviewBlocks) { %>
			<div class="grid__cell textReview">
				<div class="textReview__name">
					<%= reviewBlocks[i].name %>
				</div>
				<div class="textReview__subtitle">
					<%= reviewBlocks[i].subtitle %>
				</div>
				<div class="textReview__divider"></div>
				<div class="textReview__text">
					Наконец то удалось выявить причину моих заболеваний: наличие бактерий Streptococcus haemolyticus и
					Streptococcus bovis. Прибор смог показать, в каком конкретно органе и системе органов
				</div>
			</div>
			<% } %>
		</div>
		<div class="pageSection__footer">
			<a href="#" class="button button--primary button--in-sectionFooter">СМОТРЕТЬ БОЛЬШЕ</a>
		</div>
	</div>
</section>
<section class="pageSection pageSection--bg-primary">
	<div class="pageSize">
		<div class="sectionTitle sectionHeader--white">Модели приборов</div>
		<div class="pageSection__footer">
			<a href="#" class="button button--primary button--in-sectionFooter">СМОТРЕТЬ БОЛЬШЕ</a>
		</div>
	</div>
</section>
<section class="pageSection">
	<div class="pageSize">
		<div class="sectionTitle">Свежие новости</div>
		<div class="pageSection__footer">
			<a href="#" class="button button--primary button--in-sectionFooter">СМОТРЕТЬ БОЛЬШЕ</a>
		</div>
	</div>
</section>