<div class="pageHeader">
	<div class="pageHeader__mobile">
		<div class="grid">
			<a href="index.html" class="logo">
				<div class="logo__image logo__image--phone">
					<svg>
						<use xlink:href="hidden/sprite.svg#logo"></use>
					</svg>
				</div>
			</a>
		</div>

		<div class="grid">
			<p class="mobile__text">Сенситив Имаго</p>
		</div>

		<div class="grid">
			<div data-dropdown class="dropdown dropdown--dib">
				<div class="dropdown-header">
					<button data-dropdown-toggle class="button button--in-header">
						<svg>
							<use xlink:href="hidden/sprite.svg#language"></use>
						</svg>
					</button>
				</div>
				<div class="dropdown__content dropdown__content--wide dropdown__content--right">
					<div class="languageLinks">
						<% var Languages = ['spa', 'fra', 'ru', 'eng', 'deu'] %>
						<% for (lang in Languages) { %>
						<a href="#" class="languageLink languageLink--adaptive">
							<div class="languageLink__icon"
								 style="background-image: url('css/pic/flag-<%= Languages[lang] %>.jpg');"></div>
							<span class="languageLink__text"><%= Languages[lang] %></span>
						</a>
						<% } %>
					</div>
				</div>
			</div>

			<div data-dropdown class="dropdown dropdown--dib">
				<div class="dropdown-header">
					<button data-dropdown-toggle class="button button--in-header">
						<svg>
							<use xlink:href="hidden/sprite.svg#phone"></use>
						</svg>
					</button>
				</div>
				<div class="dropdown__content dropdown__content--wide dropdown__content--right">
					<div class="contactItem">
						<div class="contactItem__key">Skype:</div>
						<div class="contactItem__value"></div>
					</div>
					<div class="contactItem">
						<div class="contactItem__key">
							<svg>
								<use xlink:href="hidden/sprite.svg#phone"></use>
							</svg>
						</div>
						<div class="contactItem__value">
							<a href="tel:+38 (050) 227-XX-XX">+38 (050) 227-<span class="js-hidden-information" data-information="12-34">XX-XX</span></a>
							<br>
							<a href="tel:+38 (050) 227-XX-XX">+38 (050) 227-<span class="js-hidden-information" data-information="12-34">XX-XX</span></a></div>
					</div>
					<div class="contactItem">
						<div class="contactItem__key">
							<svg>
								<use xlink:href="hidden/sprite.svg#mail"></use>
							</svg>
						</div>
						<div class="contactItem__value"><a
									href="mailto:XXXXXX@gmail.com"><span class="js-hidden-information" data-information="elsead">XXXXXX</span>@gmail.com</a></div>
					</div>
				</div>
			</div>
			<div data-dropdown class="dropdown dropdown--dib">
				<div class="dropdown-header">
					<button data-dropdown-toggle class="button button--in-header">
						<svg>
							<use xlink:href="hidden/sprite.svg#icon_burger"></use>
						</svg>
					</button>
				</div>
				<div class="dropdown__content dropdown__content--wide">
					<ul class="asideMenu">
						<%- Build.menu(Menus.top) %>
					</ul>
				</div>
			</div>
		</div>
</div>
	<div class="pageHeader__top">
		<div class="pageSize">
			<div class="grid grid--justify-between grid--items-center">
				<div class="grid__cell">
					<div class="copyright">ТОВ Альфа-Мед Юкрейн</div>
				</div>
				<div class="grid__cell">
					<div class="languageLinks">
						<% var Languages = ['spa', 'fra', 'ru', 'eng', 'deu'] %>
						<% for (lang in Languages) { %>
						<a href="#" class="languageLink">
							<div class="languageLink__icon"
								 style="background-image: url('css/pic/flag-<%= Languages[lang] %>.jpg');"></div>
							<span class="languageLink__text"><%= Languages[lang] %></span>
						</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pageHeader__main" style="background-image: url('css/pic/header-bg.jpg');">
		<% if(_activeFile=='index'){ %>
		<div id="headerSlider" class="headerSlider">
			<div class="headerSlider__slide" style="background-image: url('http://www.cruzo.net/user/images/k/ecc3ecf42c75db1ffce5d06cbe95b1e6_644.jpg');"></div>
			<div class="headerSlider__slide" style="background-image: url('http://kartinki-risunki.ru/sites/kartinki-risunki.ru/files/images/66/24199.jpg');"></div>
			<div class="headerSlider__slide" style="background-image: url('http://wallspaper.ru/uploads/gallery/main/3/129987158.jpg');"></div>
		</div>
		<% } %>

		<div class="pageSize">
			<div class="grid grid--justify-around grid--lg-justify-between">
				<div class="grid__cell">
					<a href="index.html" class="logo">
						<div class="logo__image">
							<svg>
								<use xlink:href="hidden/sprite.svg#logo"></use>
							</svg>
						</div>
						<div class="logo__text">
							<big>Сенситив Имаго</big>
							<small>Медицинское оборудование</small>
						</div>
					</a>
				</div>
				<div class="grid__cell">
					<div class="grid__box">
						<div class="grid grid--space contactsBlock">
							<div class="grid__cell">
								<div class="contactItem">
									<div class="contactItem__key">Skype:</div>
									<div class="contactItem__value"><span class="js-hidden-information" data-information="qwee">XXXX</span></div>
								</div>
							</div>
							<div class="grid__cell">
								<div class="contactItem">
									<div class="contactItem__key">
										<svg>
											<use xlink:href="hidden/sprite.svg#phone"></use>
										</svg>
									</div>
									<div class="contactItem__value">
										<a href="tel:+38 (050) 227-XX-XX">+38 (050) 227-<span class="js-hidden-information" data-information="12-34">XX-XX</span></a>
										<br>
										<a href="tel:+38 (050) 227-XX-XX">+38 (050) 227-<span class="js-hidden-information" data-information="12-34">XX-XX</span></a></div>
								</div>
							</div>
							<div class="grid__cell">
								<div class="contactItem">
									<div class="contactItem__key">
										<svg>
											<use xlink:href="hidden/sprite.svg#mail"></use>
										</svg>
									</div>
									<div class="contactItem__value"><a
											href="mailto:XXXXXX@gmail.com"><span class="js-hidden-information" data-information="qqqqqq">XXXXXX</span>@gmail.com</a></div>
								</div>
								<button class="button button--primary _mt js-show-information">Показать контакты</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid grid--justify-around grid--lg-justify-end heroBlock">
				<div class="grid__cell grid__cell--12 grid__cell--lg-7">
					<div class="heroBlock__text">
						<small>Лучшее решение</small>
						<br class="_hide _lg-show">
						Для<br class="_hide _lg-show"> медицинского<br class="_hide _lg-show"> бизнеса
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pageHeader__menu">
		<div class="pageSize">
			<ul class="topMenu">
				<%- Build.menu(Menus.top) %>
			</ul>
		</div>
	</div>
</div>
